In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.datasets import load_diabetes
from scipy import stats

In [7]:
df = pd.read_csv(r"C:\Users\sk062\Downloads\Advertising.csv")
df = df.drop( "Unnamed: 0" ,axis=1)
df2 = pd.read_csv(r"C:\Users\sk062\Downloads\jobsatisfaction.csv")

In [8]:
df.describe()

               TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [9]:
df2.describe()

              id      score
count  58.000000  58.000000
mean   29.500000   6.963276
std    16.886879   1.535520
min     1.000000   4.780000
25%    15.250000   5.800000
50%    29.500000   6.380000
75%    43.750000   8.515000
max    58.000000  10.000000

In [10]:
df2.columns

Index(['id', 'gender', 'education_level', 'score'], dtype='object')

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               58 non-null     int64
 1   gender           58 non-null     object
 2   education_level  58 non-null     object
 3   score            58 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.9+ KB