In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
# "C:\Users\sk062\OneDrive\デスクトップ\archive (4)\healthcare_dataset.csv"
df = pd.read_csv(r"C:\Users\sk062\OneDrive\デスクトップ\archive (4)\healthcare_dataset.csv")
df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal

In [17]:
pd.get_option("display.max_rows")

60

In [7]:
df.shape

(55500, 15)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55500 entries, 0 to 55499
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                55500 non-null  object
 1   Age                 55500 non-null  int64
 2   Gender              55500 non-null  object
 3   Blood Type          55500 non-null  object
 4   Medical Condition   55500 non-null  object
 5   Date of Admission   55500 non-null  object
 6   Doctor              55500 non-null  object
 7   Hospital            55500 non-null  object
 8   Insurance Provider  55500 non-null  object
 9   Billing Amount      55500 non-null  float64
 10  Room Number         55500 non-null  int64
 11  Admission Type      55500 non-null  object
 12  Discharge Date      55500 non-null  object
 13  Medication          55500 non-null  object
 14  Test Results        55500 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 6.4+ MB

In [9]:
df.describe()

                Age  Billing Amount   Room Number
count  55500.000000    55500.000000  55500.000000
mean      51.539459    25539.316097    301.134829
std       19.602454    14211.454431    115.243069
min       13.000000    -2008.492140    101.000000
25%       35.000000    13241.224652    202.000000
50%       52.000000    25538.069376    302.000000
75%       68.000000    37820.508436    401.000000
max       89.000000    52764.276736    500.000000

In [15]:
df.isnull().sum().sum()

0

In [28]:
# Ageの種別の人数の把握
df['Age'].value_counts().sort_values(ascending = False).head(10)

Age
38    897
37    893
57    887
80    864
34    864
56    856
66    856
58    852
43    847
73    845
Name: count, dtype: int64

In [29]:
# dfの性別(Gender)の種類の確認
df.iloc[:,2].unique()

array(['Male', 'Female'], dtype=object)

In [30]:
# dfの性別(Gender)の種類別の人数の把握
df.iloc[:,2].value_counts()

Gender
Male      27774
Female    27726
Name: count, dtype: int64

In [32]:
df.shape

(55500, 15)

In [33]:
len(df)

55500

In [34]:
df["Age"].mean()

51.53945945945946

In [51]:
Male_data = df[df.iloc[:, 2] == 'Male'] #男性データ
Female_data = df[df.iloc[:, 2] == 'Female'] #女性データ

In [52]:
print(len(Male_data))
print(len(Female_data))

27774
27726

In [53]:
Male_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27774 entries, 0 to 55498
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                27774 non-null  object
 1   Age                 27774 non-null  int64
 2   Gender              27774 non-null  object
 3   Blood Type          27774 non-null  object
 4   Medical Condition   27774 non-null  object
 5   Date of Admission   27774 non-null  object
 6   Doctor              27774 non-null  object
 7   Hospital            27774 non-null  object
 8   Insurance Provider  27774 non-null  object
 9   Billing Amount      27774 non-null  float64
 10  Room Number         27774 non-null  int64
 11  Admission Type      27774 non-null  object
 12  Discharge Date      27774 non-null  object
 13  Medication          27774 non-null  object
 14  Test Results        27774 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 3.4+ MB

In [54]:
Male_data.iloc[:,3].value_counts(normalize=True) * 100

Blood Type
B+     12.846547
A-     12.673724
AB+    12.634118
AB-    12.544106
B-     12.540506
O+     12.432491
A+     12.212861
O-     12.115648
Name: proportion, dtype: float64

In [55]:
Female_data.iloc[:,3].value_counts(normalize=True) * 100

Blood Type
A+     12.854361
O-     12.666811
O+     12.493688
AB-    12.482868
B-     12.482868
A-     12.439587
AB+    12.399913
B+     12.179903
Name: proportion, dtype: float64

In [56]:
df.iloc[:,3].value_counts(normalize=True) * 100

Blood Type
A-     12.556757
A+     12.533333
AB+    12.517117
AB-    12.513514
B+     12.513514
B-     12.511712
O+     12.463063
O-     12.390991
Name: proportion, dtype: float64

In [57]:
df.iloc[:,4].value_counts(normalize=True) * 100

Medical Condition
Arthritis       16.771171
Diabetes        16.763964
Hypertension    16.657658
Obesity         16.632432
Cancer          16.625225
Asthma          16.549550
Name: proportion, dtype: float64

In [58]:
Male_data.iloc[:,4].value_counts(normalize=True) * 100

Medical Condition
Diabetes        16.753078
Hypertension    16.681069
Asthma          16.677468
Cancer          16.652265
Arthritis       16.641463
Obesity         16.594657
Name: proportion, dtype: float64

In [59]:
Female_data.iloc[:,4].value_counts(normalize=True) * 100

Medical Condition
Arthritis       16.901104
Diabetes        16.774868
Obesity         16.670273
Hypertension    16.634206
Cancer          16.598139
Asthma          16.421410
Name: proportion, dtype: float64